.dawn_container {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/yesterday-data.appspot.com/o/images%2Fbackground%2Fsimon_shim.JPG?alt=media&token=e5c0ace8-7c92-4fce-b320-985c594fdb93");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100vw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.play_container {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s ease-in-out;
    z-index: 1;
}

.play_container.active {
    position: relative;
    bottom: 80px;
    transition: .3s ease-in-out;
}

.play_icon {
    width: 80px;
    height: 80px;
    margin-left: 5px;
    transition: .3s ease-in-out;
}

.play_icon path {
    fill: rgb(127, 255, 212);
}

.pause_icon {
    width: 80px;
    height: 80px;
    display: none;
}

.pause_icon path {
    fill: rgb(127, 255, 212);
}

.play_icon.active {
    display: none;
}

.pause_icon.active {
    display: flex;
    transition: .3s ease-in-out;
}
/* Title */
.dawn_title {
    font-size: 56px;
    letter-spacing: -1.3px;
    text-transform: lowercase;
    position: absolute;
    bottom: 70px;
    transition: .3s ease-in-out;
    text-align: center;
}

.dawn_title.active {
    bottom: 300px;
    transition: .3s ease-in-out;
}

/* Panel */
.dawn_closet {
    height: 30px;
    width: 700px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    transition: .4s ease-in-out;
}

.dawn_closet.active {
    height: 290px;
    transition: .4s ease-in-out;
}

/* "Button to activate panel" */
.dawn_closet_title {
    height: 30px;
    width: 100%;
    position: absolute;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    text-transform: lowercase;
    letter-spacing: -.5px;
    transition: .3s ease-in-out;
}

#caret {
    color: rgb(127, 255, 212);
    margin-left: 5px;
}

/* Panel Data */
.dawn_data {
    display: inline-block;
    cursor: default;
    letter-spacing: -.5px;
}

.dawn_data.active {
    display: inline-block;
    align-items: center;
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: scroll;
}

.personnel {
    visibility: hidden;
    opacity: 0;
}

.personnel.active {
    height: auto;
    width: 65px;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: lowercase;
    visibility: visible;
    opacity: 1;
}

.lyrics {
    visibility: hidden;
    opacity: 0;
}

.lyrics.active {
    height: auto;
    width: 65px;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: lowercase;
    visibility: visible;
    opacity: 1;
}

.lyric_text {
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
    text-transform: lowercase;
}

.lyric_text.active {
    height: auto;
    width: 100%;
    visibility: visible;
    opacity: 1;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .dawn_container {
        max-height: 100%;
    }

    .dawn_closet {
        width: 100vw;
    }

    .dawn_title {
        font-size: 40px;
    }

    .dawn_closet_title {
        width: 100vw;
    }
}

@media screen and (max-width: 530px) {
    .play_container.active {
        bottom: 120px;
    }

    .dawn_container {
        max-height: 100%;
    }

    .dawn_title {
        font-size: calc(10vw - 7px);
    }

    .dawn_closet {
        width: 100vw;
    }
}