#nav {
    position: absolute;
    top: 0px;
    z-index: 1;
}

.nav_container {
    height: 100px;
    width: 100vw;
    padding: 10px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: "Programme";
    display: flex;
    align-items: center;
    position: fixed;
    z-index: inherit;
}

#title {
    font-size: 30px;
    text-transform: lowercase;
    letter-spacing: -1px;
}

#star {
    position: absolute;
    right: 15px;
    font-size: 30px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#star:hover {
    color: rgb(255, 255, 255);
    transition: .3s ease-out;
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: 1;
}

.slider {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    transition: .4s ease-in-out;
    text-transform: lowercase;
    letter-spacing: -.3px;
}

.slider.active {
    height: 100%;
    width: 450px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    display: none;
    color: transparent;
}

.social.active {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 10px; 
    color: rgb(255, 255, 255);
}

.social li {
    margin-right: 15px;
    font-size: 25px;
}

.social li:hover {
    animation: iconFill 1.1s ease-in-out;
    color: rgb(127, 255, 212);
}

.musiclist {
    display: none;
}

.musiclist.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.tracks {
    height: 60px;
    width: 265px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.track_circle {
    height: 50px;
    width: 50px;
    background-color: rgb(127, 255, 212);
    border-radius: 50%;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Programme";
    font-weight: bolder;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.track_data {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}

.track_name {
    font-family: "Programme";
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.track_meta {
    font-family: "Programme";
    font-size: 13px;
    color: rgb(0, 0, 0);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }

    0% {
        color: rgb(128, 250, 220);
    }

    50% {
        color: rgb(86, 204, 242);
    }

    100% {
        color: rgb(127, 255, 249);
    }
}

@keyframes fill {
    0% {
        background: rgb(128, 250, 220);
    }

    50% {
        background:  rgb(86, 204, 242);
    }

    100% {
        background: rgb(127, 255, 212);
    }
}

@keyframes iconFill {
    0% {
        color: rgb(128, 250, 220);
    }

    50% {
        color: rgb(86, 204, 242);
    }

    100% {
        color: rgb(127, 255, 212);
    }
}

.isAvailable {
    color: rgb(99, 103, 156);
}

@media screen and (max-width: 768px) {
    .slider {
        height: 100%;
    }

    .slider.active {
        width: 100vw;
    }

    .tracks {
        height: 40px;
        width: 265px;
        background: rgb(255, 255, 255);
        margin-bottom: 6px;
    }

    .track_circle {
        height: 30px;
        width: 30px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .track_data {
        display: flex;
        flex-direction: column;
        margin: 0px 5px;
    }

    .track_name {
        font-family: "Programme";
        font-size: 14px;
    }

    .track_meta {
        font-family: "Programme";
        font-size: 11px;
    }
} 