* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-synthesis: none;
}

::-webkit-scrollbar {
  width: 0px;
}

@font-face {
    font-family: "Programme";
    src: url("./fonts/programme_normal.woff2");
}

@font-face {
    font-family: "DM Sans";
    src: url("./fonts/DMSans-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

body {
    background: inherit;
    font-family: "Programme";
}

.end {
    color: rgb(127, 255, 212);
}